@media (max-width: 575.98px) {

    .navbar-brand .logo{
        height: 60px;
        width: 80px;
        margin-left: 40px;
    }
    .home .content h3 {
        font-size: 2rem;
        color: #1d1b1b;
        font-weight: 700;
    }
    .home .content p {
        font-size: 0.9rem;
        color: #000000;
        padding: 1rem 0;
        font-weight: 400;
    }
    .home .content {
        padding-top: 0rem;
    }
    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .home .content .btn {
        font-weight: 500;
        padding: 0.3rem 1.3rem;
        border: .2rem solid var(--red);
        color: var(--red);
        font-size: 1.5rem;
        border-radius: .5rem;
        margin-top: 1rem;
        background-color: transparent;
    }

    .speciality .box .content h3 {
        font-size: 1.3rem;
        color: var(--red);
        font-weight: 600;
        text-transform: uppercase;
    }
    .speciality .box .content p {
        font-size: 15px;
        color: #000000;
        font-weight: 400;
        padding: 5px;
    }
    .speciality .box {
        position: relative;
        overflow: hidden;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
        border: .1rem solid rgba(0,0,0,.3);
        border-radius: .5rem;
        height: 250px;
        margin-bottom: 15px;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: .2rem;
        font-weight: 500;
        line-height: 1.2;
    }
    .heading {
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        padding: 1rem;
        color: #666;
    }
    .popular .box {
        padding: 0.5rem;
        background: #fff;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
        border: .1rem solid rgba(0,0,0,.3);
        border-radius: .5rem;
        text-align: center;
        position: relative;
        margin-bottom: 15px;
    }
    .gallery .box .btn {
        font-weight: 500;
        padding: 3px 12px;
        border: 2px solid var(--red);
        color: var(--red);
        font-size: 1rem;
        border-radius: .5rem;
        margin-top: -0.6rem;
        background-color: transparent;
    }
    .order .row .image img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        border-radius: .5rem;
        margin-bottom: 20px;
    }
    ol, ul {
        padding-left: 0rem;
    }
    .gallery .box .content h3 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--red);
        text-transform: uppercase;
        margin-top: 0px;
    }
    .gallery .box .content {
        position: absolute;
        top: -126%;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(255,255,255,.9);
        text-align: center;
    }
    .footer-section{
        margin-left: 40px;
    }
    .footer-section .footer-logo .logo{
        height: 60px;
        width: 80px;
        margin-left: 40px;
    }
    .footer-section .footer-text p{
        margin-left: 40px;
        margin-right: 40px;
    }

    .footer-section .footer-social-icon{
        margin-left: 40px;
    } 
    .footer-section .footer-widget-heading{
        margin-left: 40px;
    }
    .footer-section .footer-widget ul{
        margin-left: 40px;
    }
    .footer-section .subscribe-form{
        margin-left: 40px;
        margin-right: 40px;
    }
}


@media (max-width: 767.98px) {

}


@media (max-width: 991.98px) {

}


@media (max-width: 1199.98px) {

}